@use "mq" as *;
h1 {
  color: red;
  background: yellow;

  @include mq(sm) {
    color: blue;
  }

  @include mq(md) {
    color: purple;
  }
  
  @include mq(lg) {
    color: green;
  }
  
  @include mq(xl) {
    color: orange;
  }
}
