$cWhite: white;
$cBlack: black;

#container {
  text-align: center;
}

.btn {
  background-color: $cWhite;
  color: $cBlack;
  border: 1px solid $cBlack;
  padding: 10px 40px;
  margin: 50px 0;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.5s;

  &.cover-3d {
    position: relative;
    z-index: 1;
    transform-style: preserve-3d;
    perspective: 300px;

    &::before {
      content: "";
      display: inline-block;
      width: 100%;
      height: 100%;
      background-color: $cBlack;
      position: absolute;
      top: 0;
      left: 0;
      transform: rotateX(90deg);
      transform-origin: top center;
      transition: all 0.5s;
      z-index: -1;
      opacity: 0;
    }

    & span {
      display: inline-block;
      transform: translateZ(20px);
    }

    &:hover {
      color: $cWhite;

      &::before {
        transform: none;
        opacity: 1;
      }
    }
  }
}
