@use "mq" as *;
@use "variables" as *;

.font-sm {
  font-size: 14px;

  @include mq(lg) {
    font-size: 16px;
  }
}

.font-md {
  font-size: 17px;

  @include mq(lg) {
    font-size: 19px;
  }
}

.font-lr {
  font-size: 17px;

  @include mq(lg) {
    font-size: 23px;
  }
}

.font-lg {
  font-size: 25px;

  @include mq(lg) {
    font-size: 36px;
  }
}

.main-title {
  @extend .font-lg;
  font-weight: 600;
  margin-bottom: 0;
  display: block;
}

.sub-title {
  @extend .font-sm;
  color: $cSubTitle;
}
