@charset "UTF-8";
.try {
  /** ここに記述しよう */
}
.try .spinner {
  width: 40px;
  height: 40px;
  background-color: #333;
  margin: 100px auto;
  animation-name: sk-rotateplane-try;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
.try .double-spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto;
}
.try .double-spinner div {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  position: absolute;
  opacity: 0.6;
}
.try .double-spinner div:nth-child(1) {
  animation-name: sk-bounce-try;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: calc(1s - 1s);
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
.try .double-spinner div:nth-child(2) {
  animation-name: sk-bounce-try;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: calc(2s - 1s);
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
.try .rect-spinner {
  width: 50px;
  height: 40px;
  text-align: center;
  margin: 100px auto;
  letter-spacing: -2px;
}
.try .rect-spinner div {
  display: inline-block;
  width: 6px;
  height: 100%;
  background-color: #333;
}
.try .rect-spinner div:nth-child(1) {
  animation-name: sk-stretchdelay-try;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-delay: -1.2s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
.try .rect-spinner div:nth-child(2) {
  animation-name: sk-stretchdelay-try;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-delay: -1.1s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
.try .rect-spinner div:nth-child(3) {
  animation-name: sk-stretchdelay-try;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-delay: -1s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
.try .rect-spinner div:nth-child(4) {
  animation-name: sk-stretchdelay-try;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-delay: -0.9s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
.try .rect-spinner div:nth-child(5) {
  animation-name: sk-stretchdelay-try;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-delay: -0.8s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes sk-rotateplane-try {
  0% {
    transform: perspective(120px) rotateX(0) rotateY(0);
  }
  50% {
    transform: perspective(120px) rotateX(-180deg) rotateY(0);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
  }
}
@keyframes sk-bounce-try {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes sk-stretchdelay-try {
  0% {
    transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
  }
  40% {
    transform: scaleY(0.4);
  }
  100% {
    transform: scaleY(0.4);
  }
}/*# sourceMappingURL=try.css.map */