$cWhite: white;
$cBlack: black;

.try {
  & .btn {
    position: relative;
    display: inline-block;
    background-color: $cWhite;
    border: 1px solid $cBlack;
    font-weight: 600;
    padding: 10px 40px;
    margin: 10px auto;
    cursor: pointer;
    transition: all 0.3s;
    color: $cBlack;
    text-decoration: none !important;

    /* ここにボタンのスタイルを追加していこう */
    &.float {
      &:hover {
        background-color: $cBlack;
        color: $cWhite;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
      }
    }

    &.filled {
      background-color: $cBlack;
      color: $cWhite;
      box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
      &:hover {
        background-color: $cWhite;
        color: $cBlack;
        box-shadow: none;
      }
    }

    &.letter-spacing {
      &:hover {
        background-color: $cBlack;
        color: $cWhite;
        letter-spacing: 3px;
      }
    }

    &.shadow {
      &:hover {
        transform: translate(-2.5px, -2.5px);
        box-shadow: 5px 5px 0 $cBlack;
      }
    }

    &.solid {
      border-radius: 7px;
      box-shadow: 2px 2px 0 $cBlack;
      &:hover {
        transform: translate(2.5px, 2.5px);
        box-shadow: none;
      }
    }
  }
}
