$cWhite: white;
$cBlack: black;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  // background-color: aquamarine;
  text-align: center;
  margin-top: 50px;

  button.btn {
    background-color: $cWhite;
    color: $cBlack;
    font-weight: 600;
    padding: 10px 40px;
    border: 2px solid $cBlack;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      color: $cWhite;
      background-color: $cBlack;
    }
  }
}
