$cWhite: white;
$cBlack: rgb(74, 168, 74);

body {
  background-color: antiquewhite;
}

#container {
  text-align: center;

  .btn {
    background-color: $cWhite;
    border: 1px $cBlack solid;
    font-weight: 600;
    padding: 10px 40px;
    margin: 50px 0 0 0;
    cursor: pointer;
    transition: all 1s;

    &:hover {
      background-color: $cBlack;
      color: $cWhite;
    }
  }
}
