$cWhite: white;
$cBlack: black;
$cBody: aliceblue;

body {
  background-color: $cBody;
}

#container {
  text-align: center;

  .btn {
    background-color: $cWhite;
    border: 1px solid $cBlack;
    padding: 10px 40px;
    font-weight: 600;
    color: $cBlack;
    margin-top: 50px;
    transition: all 0.5s;

    &:hover {
      background-color: $cBlack;
      color: $cWhite;
      cursor: pointer;
    }
  }
}
