.rect {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background-color: orangered;
  // transform: translate(20px, 20px);
  // transform: translate(-20px, -20px);
  // transform: translate(100%, 100%);
  // transform: translateX(100%);
  // transform: translateY(100%);
  // transform: rotate(30deg); // rotate 30 deg to the right side
  // transform: rotate(-30deg); // rotate 30 deg to the left side
  // transform-origin: bottom right; // setting the original point
  // transform: skew(-30deg, -30deg);
  // transform: skewX(30deg);
  // transform: skewY(30deg);
  // transform: scale(2, 2);
  // transform: scaleX(2);
  // transform: scaleY(1.5);
  transform: translateX(100%) rotate(30deg);
  transform-origin: center center; // setting the original point as center of the object
}
